@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');    
html{background-color: #ffffff;font-family: 'poppins',sans-serif;}

body{
margin: 0;}

.top{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  justify-items: center;
}

.welcomeDiv{
  height:600px;
  width: 45%;
  justify-self: center;
  font-size: 40px;
  margin-top: 170px;
  color: #352d68;
}
.main{
  text-decoration: none;}
.loser{
  text-decoration: line-through;
  transition: .2s;opacity: 1;cursor: default;}
.loser:hover{opacity: 0;}

.home a {
  width: max-content;
  height: min-content;
  background-color: #ff189b;
  padding: 0 15px 0 15px;
  border-radius: 20px;
  margin-left: 30%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  transition: 0.4s;
  border: 2px solid #ff189b;
}

.home a:hover{
  background-color: white;
  color: #ff189b;
}

.tD{
  display: grid;
  grid-template-columns:  repeat(2,50%);
  grid-template-rows:repeat(2,50%);
  grid-column-gap: 10px;
  justify-content: center;
  align-content: center;
  transform: rotateZ(0deg) rotateX(-5deg) rotateY(-20deg);
  background-color: white;
  width: 870px;
  height: 1000px;
  perspective: 700px;
  box-shadow: 20px 20px 20px 10px rgb(0, 0, 0,0.5);
  border-radius: 15px;
  position: relative;
  margin-top: 110px;
}
.props{
  width:400px;
  justify-self: center;
  align-self: center;
  }

.about{
  position: relative;
  width: 100%;
  height:max-content;
  background-color:#352d68;
  color: white;
  margin: -400px 0 0px 0;
  padding: 500px 0 50px 0;
  z-index: -1;
  text-align: center;
/*border: 10px solid #352d68;*/
}
.trans{
  height: 30px;
  font-size: 60px;
  font-weight: 800;
}
.frame{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:35% 50%;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: black;
  width: 650px;
  height: 500px;
  margin: 150px auto 0 auto;
  padding: 30px 0 0 0;
  border-radius: 25px;
}
.mug{
  width:100%;
  height:100px;
  border-radius: 100%;
}

.circle{
width: 150px;
height: 180px;
border-radius: 100%;
}
.name-contain{height: min-content;font-size: 60px;}
.name{
  font-weight: bold;
  color:#352d68;
  font-size: 60px;
  text-decoration: none;
}
.pink{color:#ff189b;}
.occu{
height: min-content;
font-size: 35px;
}





